/* rem и em в медиа запросах не реагирует на размер шрифта в html, здесь 1rem = 1em = 16px */

/* 1200/16 = 75 */
@media (max-width: 81.25em) {
  .subscribe__w {
    max-width: 100rem;
  }
}
@media (max-width: 75em) {
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .wrapper {
    max-width: 100rem;
    margin: auto;
  }
  .collection {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.2fr 1fr 1fr 1fr;
    grid-template-rows: 20rem 30rem 9rem;
  }

  .menu {
    margin-right: 10%;
  }
  .logo {
    margin-right: 10%;
  }
  .popular-models__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
  }
  .popular-models__card {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    max-width: 37rem;

    margin-bottom: 0rem;
  }
}
@media (max-width: 70em) {
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .quality {
    max-width: 100rem;
  }
}
@media (max-width: 64.375em) {
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .quality {
    max-width: 90rem;
  }
  .quality__circles {
    top: -60%;
    right: -5%;
  }
  .quality__watch {
    justify-self: center;
  }
  .quality__info {
    margin-left: 3rem;
  }
  .quality__info h1 {
    margin-bottom: 2rem;
  }
  .quality__info p {
    margin-bottom: 2.5rem;
  }
  .subscribe__w {
    max-width: 90rem;
    margin: auto;
  }
  .subscribe {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 0.5rem;
  }
  .subscribe__photo-1 {
    grid-column: 2/3;
    grid-row: 1/2;

    /* justify-self: right; */
  }
  .subscribe__photo-2 {
    grid-column: 2/3;
    grid-row: 2/3;

    justify-self: right;
    align-self: flex-end;
  }
  footer {
    gap: 6rem;
    /* padding: 6rem; */
  }
}
@media (max-width: 62.5em) {
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .menu {
    margin-right: 5%;
  }
  .logo {
    margin-right: 5%;
  }
  .wrapper {
    max-width: 80rem;
  }
  .collection {
    grid-template-rows: 20rem 30rem 7rem;
  }
  .collection__info p {
    max-width: 20rem;
  }
  .collection__watch {
    max-width: 100%;
  }
}
@media (max-width: 58.125em) {
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .subscribe__w {
    max-width: 60rem;
  }
  .subscribe {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .subscribe__photo-1,
  .subscribe__photo-2 {
    display: none;
  }
  .subscribe__photo-3 {
    grid-column: 2/4;
    grid-row: 1/-1;
    max-width: 100%;
  }
  footer {
    gap: 3rem;
  }
}
@media (max-width: 48.125em) {
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .menu__link {
    margin-right: 2rem;
  }
  .icons_header__icon {
    margin-right: 1.3rem;
  }
  .collection {
    grid-template-rows: 20rem 30rem 0rem;
  }
  .collection__info {
    align-self: flex-start;
  }
  .collection__line {
    display: none;
  }
  .collection__info h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }
  .collection__info h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .collection__info p {
    font-weight: 300;
    font-size: 1.4rem;

    max-width: 19rem;
  }

  .collection__btn {
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.05em;

    padding: 2rem 3rem;

    margin-top: 3rem;
  }

  .collection__watch {
    max-width: 95%;
  }

  .quality__watch {
    max-width: 90%;

    justify-self: right;
  }

  .quality__info h1 {
    font-size: 2.4rem;
    line-height: 4.3rem;

    color: #1b1a17;

    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .quality__info p {
    font-size: 1.4rem;
    line-height: 150%;

    color: #444240;

    margin-bottom: 4.5rem;
  }

  .quality__button {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.05em;

    padding: 2rem 3.3rem;
  }

  .subscribe {
    gap: 1.5rem;
  }
  .footer__txt {
    font-size: 1rem;
    line-height: 1.4rem;

    margin-bottom: 1.5rem;
  }

  .footer-h1 {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.07em;
    margin-bottom: 2rem;
  }
}
@media (max-width: 42.5em) {
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .wrapper {
    max-width: 60rem;
  }
  .collection {
    grid-template-rows: 20rem 21rem 0rem;
  }
  .collection__watch {
    max-width: 100%;
    grid-row: 1/2;
  }
  .collection__info {
    grid-column: 1/5;
    grid-row: 1/3;

    align-self: center;
  }
  .collection__info h2 {
    font-size: 3rem;
  }
  .collection__info p {
    max-width: 24rem;
  }

  .popular-models__cards {
    gap: 0rem;
    margin-bottom: 5rem;
  }
  .popular-models__more-watch {
    padding-bottom: 0rem;
  }
  .quality__info p {
    margin-bottom: 3rem;
  }
}
@media (max-width: 41.25em) {
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .quality {
    grid-template-columns: 1.3fr 1fr 0.05fr;
    grid-template-rows: 1fr 0.1fr;
  }
  .quality__slider {
    opacity: 0;
  }
  .quality__info h1 {
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
  .quality__info p {
    width: 100%;
    margin-bottom: 4rem;
  }
  .quality__circles {
    position: absolute;

    top: -60%;
    right: -20%;
  }
  footer {
    padding: 3rem;
  }
}
@media (max-width: 38.75em) {
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .wrapper {
    max-width: 50rem;
  }
  .collection__watch {
    max-width: 100%;
  }

  .collection {
    grid-template-columns: 4rem 1fr 0.2fr 1fr 1fr 1fr;
    grid-template-rows: 10rem 26rem 0rem;
  }
  .collection__info h1 {
    font-size: 2.5rem;
    margin-bottom: 0rem;
  }
  .collection__info h2 {
    font-size: 2rem;
    line-height: 4rem;

    margin-bottom: 1rem;
  }
  .collection__info p {
    max-width: 18rem;
  }
  .collection__btn {
    padding: 1.5rem 3rem;

    margin-top: 2rem;
  }
  .popular-models__cards {
    gap: 0rem;
  }
  .popular-models__more-watch {
    padding-bottom: 1rem;
  }
  .quality__info {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .quality__info h1 {
    font-size: 3.2rem;
    line-height: 3rem;

    margin-bottom: 2rem;
  }
  .quality__info p {
    font-size: 1.6rem;
    line-height: 130%;

    max-width: 90%;

    margin-bottom: 1rem;
  }
  .quality__watch {
    max-width: 90%;
  }
  .quality__slider {
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
  }
  .quality__circles {
    position: absolute;

    top: -60%;
    right: -18%;
  }
  .subscribe__w {
    max-width: 45rem;
  }
  .subscribe__photo-3 {
    max-width: 100%;
  }
  .subscribe {
    padding: 5rem 0;

    grid-template-rows: 1fr 0fr;
  }
  .subscribe__info p {
    margin-bottom: 4rem;
  }
  .subscribe__info {
    justify-content: flex-start;
  }
  .subscribe__info h1 {
    margin-bottom: 1rem;
  }
  .subscribe__photo-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  footer {
    gap: 2rem;

    padding: 3rem;
  }
  .contacts img {
    max-width: 80%;
  }
  .footer__txt {
    margin-bottom: 0.5rem;
  }
  .footer-h1 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 33.75em) {
  .burger {
    display: flex;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 6rem 8rem;
    gap: 2rem;
    background-color: #f4efe6;
    animation: burgerAnim 0.4s;
  }

  @keyframes burgerAnim {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .menu__link {
    font-size: 3rem;
  }

  .logo {
    margin-right: 10%;
  }

  .icons_header {
    margin-right: 10rem;
  }
  .wrapper {
    max-width: 40rem;
  }
  .collection {
    grid-template-rows: 20rem 8rem 0rem;
  }
  .collection__watch {
    max-width: 100%;
  }
  .collection__btn {
    font-size: 1rem;

    padding: 1.5rem 3rem;
  }

  .quality {
    max-width: 40rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
  }
  .quality__info {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 0rem;
  }
  .quality__info h1 {
    font-size: 2.5rem;
    line-height: 2.2rem;

    margin-bottom: 1rem;
  }
  .quality__info p {
    font-size: 1.5rem;
    line-height: 150%;

    margin-bottom: 1.5rem;
  }
  .quality__watch {
    max-width: 100%;
    display: none;
  }

  .quality__circles {
    top: -120%;
    right: -30%;
    display: none;
  }

  .quality__button {
    font-size: 1rem;

    padding: 1.5rem 2.5rem;
  }
  footer {
    gap: 0.5rem;

    padding: 1rem;
  }
  .contacts {
    max-width: 12rem;
  }
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
  .subscribe__w {
    max-width: 40rem;
  }
  .subscribe__info h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;

    margin-bottom: 1rem;
  }
  .subscribe__info p {
    font-size: 1.2rem;
    line-height: 2rem;

    margin-bottom: 10rem;
  }

  .contacts img {
    max-width: 70%;
  }
  footer {
    padding: 1rem;
  }
}
@media (max-width: 31.875em) {
  .wrapper {
    max-width: 38rem;
  }
  .collection {
    grid-template-rows: 20rem 7rem 0rem;
  }
  .popular-models__h1 {
    font-size: 2.5rem;
    line-height: 4.3rem;
  }
  footer {
    gap: 1rem;
  }
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }
}
@media (max-width: 27.5em) {
  .wrapper {
    max-width: 35rem;
  }
  .collection {
    grid-template-rows: 20rem 5rem 0rem;
  }
  .collection__info h1 {
    margin-bottom: 0rem;
  }
  .collection__btn {
    font-size: 1rem;
    padding: 1.4rem 2rem;
  }
  .popular-models__h1 {
    font-size: 2.5rem;

    padding: 3rem 6rem;
  }
  .popular-models__more {
    align-self: center;
    justify-content: center;
    transform: translateX(0%);
  }
  .popular-models__line {
    width: 10rem;
    align-self: center;
    transform: translateX(0%);

    margin-bottom: 1rem;
  }

  .subscribe__photo-3 {
    max-width: 100%;
  }

  footer {
    gap: 2rem;

    /* padding: 6rem; */
  }

  .customers {
    display: none;
  }
}
@media (max-width: 23.75em) {
  .icons_header {
    margin-right: 3rem;
  }
  .wrapper {
    max-width: 30rem;
  }
  .collection {
    margin-top: 2rem;
    grid-template-rows: 20rem 0.5rem 0rem;
  }
  .collection__watch {
    max-width: 100%;
  }
  .collection__info h1 {
    font-size: 2rem;
    line-height: 2.5rem;

    margin-bottom: 0rem;
  }
  .collection__info h2 {
    font-size: 1.75rem;
    line-height: 3rem;
  }
  .collection__btn {
    font-size: 0.75rem;
    padding: 1rem 2rem;

    margin-top: 1rem;
  }
  .popular-models__h1 {
    font-size: 2.5rem;
    line-height: 3rem;

    padding: 1rem 2rem;
    padding-bottom: 1rem;
  }
  .quality {
    max-width: 30rem;
  }

  .subscribe__w {
    max-width: 30rem;
  }
  .subscribe__info h1 {
    font-size: 2rem;
    line-height: 2.3rem;

    margin-bottom: 1rem;
  }
  .subscribe__photo-3 {
    max-width: 100%;
  }
  .subscribe__info p {
    margin-bottom: 2rem;
  }
}
@media (max-width: 20em) {
  .ship {
    display: none;
  }

  .popular-models__card img {
    max-width: 100%;
  }
}
