* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
  background-color: #fdfdfb;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: black;
}

.btn {
  border: none;
}

.line {
  width: 5rem;
  border: 0.1rem solid #c4c0b6;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.logo {
  margin-right: 20%;
}

.menu {
  max-width: 100rem;
  margin-right: 20%;
}

.menu__link {
  color: #555248;
  font-size: 1.4rem;
  margin-right: 6.5rem;
}

.menu__link:last-child {
  margin-right: 0;
}

.icons_header__icon {
  margin-right: 2.3rem;
  cursor: pointer;
}

.icons_header__icon:last-child {
  margin-right: 0;
}

.wrapper {
  max-width: 120rem;
  margin: auto;
}

.collection {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.2fr 1fr 1fr 1fr;
  grid-template-rows: 20rem 30rem 20rem;
}

.collection__watch {
  max-width: 83%;
  grid-column: 4/7;
}

.collection__info {
  grid-column: 2/5;
  grid-row: 2/3;
  align-self: flex-end;
}

.collection__line {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: flex-start;
  justify-self: right;
  margin: 1.5rem;
}

.collection__info h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  color: #1b1a17;
  font-size: 4.5rem;
  line-height: 6rem;
  margin-bottom: 1rem;
}

.collection__info h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  color: #1b1a17;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.collection__info p {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: rgba(27, 26, 23, 0.82);
  max-width: 27rem;
}

.collection__btn {
  background-color: #444240;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 2.5rem 4rem;
  margin-top: 6rem;
  cursor: pointer;
  transition: ease-out 0.2s;
}

.collection__btn:hover {
  background-color: #f4efe7;
  color: #1b1a17;
  transition: ease-in 0.2s;
}

.collection__btn:active {
  transform: translateY(1rem);
}

.popular-models {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.popular-models__h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  color: #1b1a17;
  font-size: 3.2rem;
  line-height: 4.3rem;
  padding: 3rem 10rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}

.popular-models__more {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #444240;
  margin-bottom: 0.5rem;
  align-self: flex-end;
  transform: translateX(-25rem);
}

.popular-models__line {
  width: 10rem;
  align-self: flex-end;
  margin-bottom: 1rem;
  transform: translateX(-25rem);
}

.popular-models__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}

.popular-models__more-watch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  padding-bottom: 4rem;
}

.more-watch__line {
  width: 3rem;
  border: 0.1rem solid #8b8371;
}

.popular-models__card {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  max-width: 37rem;
  margin-bottom: 10rem;
}

.popular-models__card h1 {
  margin: 4rem 4rem;
  margin-bottom: 0;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
}

.popular-models__card p {
  margin: 1rem 4rem;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgba(27, 26, 23, 0.82);
}

.popular-models__watch-more {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-left: 1.8rem;
  color: #1b1a17;
}

.quality__bg {
  background-color: #f7f5ef;
}

.quality {
  max-width: 120rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr 0.2fr;
  grid-template-rows: 1fr 0.1fr;
  position: relative;
  overflow: hidden;
}

.quality__circles {
  position: absolute;
  top: -60%;
  right: -8%;
}

.quality__watch {
  max-width: 80%;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: right;
}

.quality__info {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  margin-left: 7rem;
}

.quality__info h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.3rem;
  color: #1b1a17;
  margin-bottom: 4rem;
}

.quality__info p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #444240;
  margin-bottom: 4.5rem;
}

.quality__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 2.5rem 3.8rem;
  background-color: #d4b098;
  transition: ease-out 0.2s;
  cursor: pointer;
}

.quality__button:hover {
  background-color: #1b1a17;
  transition: ease-in 0.2s;
}

.quality__slider {
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6rem;
  color: rgba(27, 26, 23, 0.82);
  justify-self: right;
  margin: 1rem 4rem;
}

.subscribe__w {
  max-width: 120rem;
  margin: auto;
  background-color: #ffffff;
}

.subscribe {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 10rem 0;
}

.subscribe__info {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subscribe__photo-1 {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: right;
}

.subscribe__photo-2 {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: right;
}

.subscribe__photo-3 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.subscribe__info h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.3rem;
  color: #1b1a17;
  margin-bottom: 4rem;
}

.subscribe__info p {
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #444240;
  margin-bottom: 12rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.subscribe__info-span {
  font-weight: 700;
}

footer {
  background-color: #444240;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  gap: 12rem;
  padding: 6rem;
}

.contacts,
.about,
.customers,
.ship {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
}

.footer__txt {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 1.5rem;
}

.footer-h1 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts img,
.footer-h1 {
  margin-bottom: 3rem;
}/*# sourceMappingURL=style.css.map */